body {
  background-color: #fff;
  font-family: "Jost", sans-serif;
}

h1 {
  color: #4DAADF;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.flex-container {
  max-width: 50rem;
  margin: auto auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }

.flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  }


#drink-list {
  margin: auto auto;
  max-width: 50rem;
}

.drink-entry {
  background-color: #fff;
  min-width: 20rem;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  border: 2px solid #4DAADF;
  color: #4DAADF;
}

.drink-entry:hover {
  background-color: #4DAADF;
  color: #fff;
}

#search {
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  padding: 4%;
  border: 2px solid #4DAADF;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: block;
}